# https://github.com/lxqt/lxqt/wiki/.mailmap
# tracking bug: https://github.com/lxqt/lxqt/issues/1748

# Proper Name <proper@email.xx> Commit Name <commit@email.xx>
# Proper Name <proper@email.xx> <commit@email.xx>
# Proper Name <@> <commit@email.xx>

Alec Moskvin <alecm@gmx.com> Alec Moskvin <alecmn@gmail.com>

Alexander Golubev <fatzer2@gmail.com> Golubev Alexander <fatzer2@gmail.com>

Alexander Sokolov <sokoloff.a@gmail.com> SokoloffA <sokoloff.a@gmail.com>

Alf Gaida <agaida@siduction.org> Alf <agaida@siduction.org>
Alf Gaida <agaida@siduction.org> hugo G <hugo@g-com.eu>
Alf Gaida <agaida@siduction.org> Alf Gaida <info@g-com.eu>
Alf Gaida <agaida@siduction.org> LX* Machine account <lxadmin@lxqt.org>

Andriy Grytsenko <andrej@rep.kiev.ua> LStranger <andrej@rep.kiev.ua>

Artem Galichkin <doomer3d@gmail.com> DOOMer <doomer3d@gmail.com>
Artem Galichkin <doomer3d@gmail.com> DOOMer <doomer@arch-x64.localdomain>
Artem Galichkin <doomer3d@gmail.com> DOOMer <doomer@arch.localdomain>
Artem Galichkin <doomer3d@gmail.com> DOOMer <doomer@i7-arch.localdomain>

Arun Raghavan <arun.raghavan@collabora.co.uk> Arun Raghavan <git@arunraghavan.net

attus <attus@enterpriseforever.com> attuska <attus@enterpriseforever.com>
attus <attus@enterpriseforever.com> attuska <attuska@users.noreply.github.com>

Ayhan Yalçınsoy <ayhanyalcinsoy@pisilinux.org> Ayhan YALÇINSOY PhD. (Dr.) <ayhanyalcinsoy@pisilinux.org>
Ayhan Yalçınsoy <ayhanyalcinsoy@pisilinux.org> ayhanyalcinsoy <ayhanyalcinsoy@pisilinux.org>
Ayhan Yalçınsoy <ayhanyalcinsoy@pisilinux.org> Ayhan YALÇINSOY <ayhanyalcinsoy@pisilinux.org>

Bartosz Taczala  <w0lanto@gmail.com> <bartosz.taczala@tieto.com> 
Bartosz Taczala  <w0lanto@gmail.com> Bartek Taczala <w0lanto@gmail.com>
Bartosz Taczala  <w0lanto@gmail.com> bartek <bartek@bartekpc.dom>
Bartosz Taczala  <w0lanto@gmail.com> bartek taczala <w0lanto@gmail.com>
Bartosz Taczala  <w0lanto@gmail.com> Your Name <w0lanto@gmail.com>

Billy Su <g4691821@gmail.com> Billy SU <g4691821@gmail.com>

ButterflyOfFire <butterflyoffire@protonmail.com> ButterflyOfFire <butterflyoffire+lxqt@protonmail.com>

Chih-Hsuan Yen <yan12125@gmail.com> Chih-Hsuan Yen <yen@chyen.cc>

Demiray <mdemiray@msn.com> tulliana <mdemiray@msn.com>

Diego 'Flameeyes' Pettenò <flameeyes@gmail.com> Diego Elio 'Flameeyes' Pettenò <flameeyes@gmail.com>

Dimitrios Glentadakis <dglent@free.fr> dglent <dglent@free.fr>

Donnie West <me@donniewest.com> Donnie West <igneo676@gmail.com>

Fedor Piecka <fpiecka@neviem.eu> <7d09add7@opayq.com>

Georges Eckenschwiller <paiiou@free.fr> paiiou <paiiou@free.fr>

HelixBot <weblate@lxqt.org> Helix <HelixBot@users.noreply.github.com>

Hong Jen Yee (PCMan) <pcman.tw@gmail.com> Hone Jen Yee (PCMan) <pcman.tw@gmail.com>
Hong Jen Yee (PCMan) <pcman.tw@gmail.com> PCMan <pcman.tw@gmail.com>
Hong Jen Yee (PCMan) <pcman.tw@gmail.com> Hong Jen-Yee (PCMan) <pcman.tw@gmail.com>

Ilya87 <yast4ik@gmail.com> <yast4ik@yahoo.com>
Ilya87 <yast4ik@gmail.com> Ilya87 <you@example.com>

intialonso <intialonso@gmail.com> mendicante <intialonso@gmail.com>

Jerome Leclanche <jerome@leclan.ch> Jerome Leclanche <adys.wh@gmail.com>

Johannes Zellner <webmaster@nebulon.de> Johannes Zellner <johannes.zellner@nokia.com>

Julien Lavergne <julien.lavergne@gmail.com> Julien Lavergne <gilir@ubuntu.com>

Kuzma Shapran <kuzma.shapran@gmail.com> kuzmas <Kuzma.Shapran@gmail.com>
Kuzma Shapran <kuzma.shapran@gmail.com> kuzmas <kuzma.shapran@gmail.com>

Maciej Płaza <plaza.maciej@gmail.com> Maciej Płaza <maciejplaza@fastmail.fm>

Marcin Mikołajczak <me@m4sk.in> Marcin Mikołajczak <marcin123407@vivaldi.net>
Marcin Mikołajczak <me@m4sk.in> m4sk1n <me@m4sk.in>

Marco Scarpetta <marcoscarpetta02@gmail.com> Marco Scarpetta <marcoscarpetta@mailoo.org>

Martin Bagge <brother@bsnet.se> Martin Bagge / brother <brother@bsnet.se>
Martin Bagge <brother@bsnet.se> brother <brother@bsnet.se>

Martl <qso@users.sf.net> qsodev <qso@users.sf.net>

Masamichi Ito <52656419+ito32bit@users.noreply.github.com> <i_to_ma-lxqt014@yahoo.co.jp>
Masamichi Ito <52656419+ito32bit@users.noreply.github.com> <ito32bit+github@gmail.com>
Masamichi Ito <52656419+ito32bit@users.noreply.github.com> <ito32bit+weblate@gmail.com>
Masamichi Ito <52656419+ito32bit@users.noreply.github.com> <ito32bit@gmail.com>

Michael Vetter <jubalh@iodoru.org> Michael Vetter <g.bluehut@gmail.com>
Michael Vetter <jubalh@iodoru.org> Michael Vetter <jubalh@openmailbox.org>

micrococo <micrococo@gmx.com>  micrococo <micrococo@users.noreply.github.com>

Miguel A. Bouzada <mbouzada@gmail.com> mbouzada <mbouzada@gmail.com>

Mika Kobayashi <mika-k@users.noreply.github.com> <mika@wjn.moe>

Milo Ivir <mail@milotype.de> <43657314+milotype@users.noreply.github.com>

notname000 <notname000@outlook.com> notname000 <34855362+notname000@users.noreply.github.com>

Palo Kisa <palo.kisa@gmail.com> palinek <palinek@users.noreply.github.com>
Palo Kisa <palo.kisa@gmail.com> palinek <palo.kisa@gmail.com>

Pavel Borecki <@> <pavel.borecki@gmail.com>

Pavel Fric <pavelfric@yahoo.com> PavelFric <pavelfric@yahoo.com>

Pavel Shlyak <shlyak-pavel2011@ya.ru> Shlyak Pavel <shlyak-pavel2011@ya.ru>

Peter Mattern <pmattern@arcor.de> Peter Mattern <matternp@arcor.de>
Peter Mattern <pmattern@arcor.de> Peter Mattern <pmattern@users.noreply.github.com>
Peter Mattern <pmattern@arcor.de> pmattern <pmattern@users.noreply.github.com>

Petr Vanek <petr@yarpen.cz> Petr Vanek <petr@scribus.info>
Petr Vanek <petr@yarpen.cz> pvanek <petr@yarpen.cz>
Petr Vanek <petr@yarpen.cz> Petr Vanek <pvanek@stimpy.prague.qoretechnologies.com>

Philipp Wiesemann <philipp.wiesemann@arcor.de> Philipp Wiesemann <philippwiesemann@users.noreply.github.com>

Pierre-Yves <kyrios@skynet.be> Pierre-Yves <py@localhost.localdomain>

Pjotr Vertaalt <pjotrvertaalt@gmail.com> Pjotr123 <pjotrvertaalt@gmail.com> 
Pjotr Vertaalt <pjotrvertaalt@gmail.com> Pjotr <pjotrvertaalt@gmail.com>

P.L. Lucas <selairi@gmail.com> lucas <selairi@gmail.com>

Robert Antoni Buj Gelonch <rbuj@fedoraproject.org> Robert Antoni Buj Gelonch <robert.buj@gmail.com>
Robert Antoni Buj Gelonch <rbuj@fedoraproject.org> rbuj <robert.buj@gmail.com>
Robert Antoni Buj Gelonch <rbuj@fedoraproject.org> Robert Antoni Buj Gelonch <robert.buj@gmail.com>
Robert Antoni Buj Gelonch <rbuj@fedoraproject.org> Robert Antoni Buj Gelonch <rbuj@users.noreply.github.com>

Roberto Alzaga <lumintnian@outlook.com> Roberto <lumintnian@outlook.com>

Ryuho Kumagai <u_ho_@msn.com> Ryuho.Kumagai <u_ho_@msn.com>

Safa Alfulaij <safa1996alfulaij@gmail.com> safaalfulaij <safa1996alfulaij@gmail.com>￼
Safa Alfulaij <safa1996alfulaij@gmail.com> Safa AlFulaij <safa1996alfulaij@gmail.com>

Sérgio Marques <smarquespt@gmail.com> smarquespt <smarquespt@gmail.com>

Stefano Binde <stef.binde@riseup.net> stefonarch <stef.binde@riseup.net>
Stefano Binde <stef.binde@riseup.net> Stef Binde <stef.binde@riseup.net>
Stefano Binde <stef.binde@riseup.net> Stef <stef.binde@riseup.net>

Cheng-Hong Wu (stuarch) <stu2731652+AT+gmail.com> <Administrator@speed.(none)>

su-hyun,Yang <daehyun.yang@gmail.com> hyun <daehyun.yang@gmail.com>

Takefumi Nagata <take1975@kumamoto.email.ne.jp> Takefumi Nagata <rago1975@users.noreply.github.com>
Takefumi Nagata <take1975@kumamoto.email.ne.jp> rago1975 <take1975@kumamoto.email.ne.jp>

Tanu Kaskinen <tanu.kaskinen@linux.intel.com> Tanu Kaskinen <tanuk@iki.fi>

Tsu Jan <tsujan2000@gmail.com> tsujan <tsujan2000@gmail.com>

Urs Fleisch <U.Fleisch@glutz.com> Urs Fleisch <ufleisch@users.sourceforge.net>

vedat <@> <vedat@pisi_linux1.0>

Vladimir Chren <vlado.chren@inmail.sk> vc-01 <vlado.chren@inmail.sk>
Vladimir Chren <vlado.chren@inmail.sk> vc-01 <vc-01@users.noreply.github.com>

welaq <hazap@hotmail.com> welaq <welaq@users.noreply.github.com>
welaq <hazap@hotmail.com> Moo <hazap@hotmail.com>

Yaşar Çiv <@> <42207558+yasarciv67@users.noreply.github.com>
Yaşar Çiv <@> <42207558+yasarciv@users.noreply.github.com>
Yaşar Çiv <@> <yasarciv67@gmail.com>
Yaşar Çiv <@> <yasarciv@protonmail.com>

ypnos <github@lanrules.de> <git@lanrules.de>

Zac Anger <zac@zacanger.com> zacanger <zac@zacanger.com>
