[Desktop Entry]
Type=Application
Exec=lxqt-about
Icon=help-about
Terminal=false
OnlyShowIn=LxQt;Razor;
Categories=Qt;System;LxQt;DesktopSettings;Settings;
Name=About LXDE-Qt
GenericName=Learn more about LXDE-Qt


# Translations
GenericName[ru]=Узнать больше о LXDE-Qt
Name[ru]=О LXDE-Qt
